body {
  background: #feecec;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

main {
  margin: 60px 0;
}

.u-default-box {
  width: 100%;
  max-width: 600px;
  background: #feecec;
  border: 1px solid rgba(0, 0, 0, .0975);
  border-radius: 3px;
}
